[global]
;show_user_defined=yes

;usegmtime=yes

hostname={{cel.database.hostname}}
port={{cel.database.port}}
dbname={{cel.database.dbname}}
password={{cel.database.password}}
user={{cel.database.user}}
table=cel
schema=public
appname=asterisk